<%# Empty, persistent modal frame. Links with data-turbo-frame="modal" load
    their content (a dialog) into this frame. Include once per index/page that
    opens modals. %>
<div data-controller="filter-dialog">
  <%= turbo_frame_tag "modal", data: { action: "turbo:frame-load->filter-dialog#open" } %>
</div>
