<h1>Almacenes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @warehouses %>
  </tbody>
</table>

<% if @warehouses.empty? %>
  <p id="no-warehouses-message">No se encontraron almacenes.</p>
<% end %>

<%= action_link 'Nuevo almacén', new_warehouse_path, variant: :primary, size: :md, icon: :plus %>

<%== @pagy.series_nav if @pagy.pages > 1 %>
